/* No CSS */
/*# sourceMappingURL=main.css.map */

body {
  background-color: #100923 !important;
  font-family: "Titan One", cursive !important;
  color: #FFDC00;
  background-image: url(../background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #100923;
}



.ofek {
  width: 20vh !important;
  height: 20vh !important;
  position: fixed !important;
}

#moonsticky {
  width: 100px !important;
  height: 10px !important;
}


p {
  color: aquamarine;
  font-size: 120% !important;
}

.container {
  padding: 25px;
}

.jumbotron {
  background-color: transparent;
}

@media only screen and (max-width: 600px) {
  .ofek, .moon {
    display: none;
  }
}

h1:hover {
  color: #FF4136;
}

p:hover {
  color: #2ECC40;
}

.imglinks {
  margin-bottom: 1000 !important;
}

.button {
	-moz-box-shadow: 0px 11px 36px 3px #2c636b;
	-webkit-box-shadow: 0px 11px 36px 3px #2c636b;
	box-shadow: 0px 11px 36px 3px #2c636b;
	background:-moz-linear-gradient(top, #548799 5%, #36c9e0 100%);
	background:-webkit-linear-gradient(top, #548799 5%, #36c9e0 100%);
	background:-o-linear-gradient(top, #548799 5%, #36c9e0 100%);
	background:-ms-linear-gradient(top, #548799 5%, #36c9e0 100%);
	background:linear-gradient(to bottom, #548799 5%, #36c9e0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#548799', endColorstr='#36c9e0',GradientType=0);
	background-color:#548799;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:1px solid #74c234;
	display:inline-block;
	cursor:pointer;
	color:#FFDC00;
	font-family:Trebuchet MS;
	font-size:21px;
	font-weight:bold;
	padding:14px 36px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1c1421;
}
.button:hover {
	background:-moz-linear-gradient(top, #36c9e0 5%, #548799 100%);
	background:-webkit-linear-gradient(top, #36c9e0 5%, #548799 100%);
	background:-o-linear-gradient(top, #36c9e0 5%, #548799 100%);
	background:-ms-linear-gradient(top, #36c9e0 5%, #548799 100%);
	background:linear-gradient(to bottom, #36c9e0 5%, #548799 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#36c9e0', endColorstr='#548799',GradientType=0);
  background-color:#36c9e0;
  color:#f8ff00;

}
.button:active {
	position:relative;
	top:1px;
}

.linkedin, .codepen, .github {
  -webkit-transition: -webkit-transform 0.18s ease-in-out !important;
  transition: transform 0.8s ease-in-out !important;
}

.linkedin:hover, .codepen:hover, .github:hover {
  -webkit-transform: rotate(360deg) !important;
  transform: rotate(420deg) !important;
}

.github:hover {
  -webkit-transform: rotate(360deg) !important;
  transform: rotate(300deg) !important;
}

.codepen:hover {
  -webkit-transform: rotate(360deg) !important;
  transform: rotate(360deg) !important;
}
/*# sourceMappingURL=main.css.map */







.buttonmargin {
  margin-top: 30px;
  background: #36d65b;
  background-image: -webkit-linear-gradient(top, #36d65b, #2bb85c);
  background-image: -moz-linear-gradient(top, #36d65b, #2bb85c);
  background-image: -ms-linear-gradient(top, #36d65b, #2bb85c);
  background-image: -o-linear-gradient(top, #36d65b, #2bb85c);
  background-image: linear-gradient(to bottom, #36d65b, #2bb85c);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  color: #ffffff;
  padding: 12px 20px 10px 22px;
  text-decoration: none;
}

.buttonmargin:hover {
  background: #4beb15;
  background-image: -webkit-linear-gradient(top, #4beb15, #030303);
  background-image: -moz-linear-gradient(top, #4beb15, #030303);
  background-image: -ms-linear-gradient(top, #4beb15, #030303);
  background-image: -o-linear-gradient(top, #4beb15, #030303);
  background-image: linear-gradient(to bottom, #4beb15, #030303);
  text-decoration: none;
  }


  .buttonmargin:hover:active {
    border-color: transparent!important;
    border-color: transparent!important;

  }

  
  .buttonmargin:hover:focus { 
    background-color: transparent!important;
    border-color: transparent!important;
}


  /* alian animation */
  .to-move1 {
    position:absolute;
    margin-left:-330px!important;
    margin-top:-10%; 
    z-index: 3;
}



.alienbutton {
  margin-top: 30px;
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
	background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
	background-color:#89c403;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	font-weight:bold;
	padding:8px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.alienbutton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
	background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
	background-color:#77a809;
}
.alienbutton:active {
	position:relative;
	top:1px;
}

        
          
